:root {
  /* --dpte-primary-color-1: #113939; */
  /* --dpte-primary-color-1: #D4AF37; */
  --dpte-primary-color-1: #CFA55B;
  /* --dpte-primary-color-2: #0A1F1F; */
  --dpte-primary-color-2: #A68A1D;
  --dpte-light-color-1: #FFFFFF;
  /* --dpte-dark-color-1: #1C1C1E; */
  --dpte-dark-color-1: #2C2C2E;
}
