:root {
  /* --dpte-primary-color: #D4AF37; */
  --dpte-primary-color: #CFA55B;
  --dpte-primary-color-2: #A68A1D;
  --dpte-light-color: #FFFFFF;
  /* --dpte-dark-color: #1C1C1E; */
  --dpte-dark-color: #2C2C2E;
}
