/* date */
.dpte-timetable-date *, .dpte-timetable-date *::before, .dpte-timetable-date *::after {
  box-sizing: border-box;
  line-height: 1;
}

.dpte-timetable-date * {
  margin: 0;
  padding: 0;
}

.dpte-timetable-date {
  --size-multiplier: var(--dpte-timetable-date-text-size-multiplier, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--dpte-timetable-date-color);
  font-size: calc(1.2rem * var(--size-multiplier));
  gap: 0.5rem;
}

.dpte-timetable-date .dpte-timetable-date-gregorian {
  font-weight: bold;
}
