.dpte-notification-banner *, .dpte-notification-banner *::before, .dpte-notification-banner *::after {
  box-sizing: border-box;
  line-height: 1;
}

.dpte-notification-banner * {
  margin: 0;
  padding: 0;
}

.dpte-notification-banner {
  --size-multiplier: var(--dpte-notification-banner-text-size-multiplier, 1);
  text-align: center;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: calc(1.15rem * var(--size-multiplier));
}

.dpte-notification-banner.active {
  background: var(--dpte-notification-banner-active-background);
  color: var(--dpte-notification-banner-active-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dpte-notification-banner.error {
  background: var(--dpte-notification-banner-error-background);
  color: var(--dpte-notification-banner-error-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dpte-notification-banner .dpte-notification-banner-content {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  min-height: calc(20px * var(--size-multiplier));
}

.dpte-notification-banner.active .dpte-notification-banner-content,
.dpte-notification-banner.error .dpte-notification-banner-content {
  visibility: visible;
}

.dpte-notification-banner .dpte-notification-banner-content .dpte-notification-active-icon {
  display: none;
  width: calc(20px * var(--size-multiplier));
  transform: translateY(-2px) scale(1.4);
  fill: var(--dpte-notification-banner-active-icon-color);
}

.dpte-notification-banner.active .dpte-notification-banner-content .dpte-notification-active-icon {
  display: revert;
}

.dpte-notification-banner .dpte-notification-banner-content .dpte-notification-error-icon {
  display: none;
  width: calc(20px * var(--size-multiplier));
  transform: translateY(-1px);
  stroke: var(--dpte-notification-banner-error-icon-color);
}

.dpte-notification-banner.error .dpte-notification-banner-content .dpte-notification-error-icon {
  display: revert;
}
