/* base */
.dpte-timetable2-title-component *,
.dpte-timetable2-title-component *::before,
.dpte-timetable2-title-component *::after {
  box-sizing: border-box;
  line-height: 1;
}

.dpte-timetable2-title-component * {
  margin: 0;
  padding: 0;
}

.dpte-timetable2-title-component {
  --size-multiplier: var(--dpte-timetable2-text-size-multiplier, 1);
  background-color: var(--dpte-timetable2-title-section-background);
  color: var(--dpte-timetable2-title-section-color);
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}

.dpte-timetable2-title-component .dpte-timetable2-title {
  margin: 0;
  font-size: calc(1.33rem * var(--size-multiplier));
  font-weight: 700;
  color: var(--dpte-timetable2-title-section-color);
}
