/* root */
.dpte-timetable {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* prayers */
.dpte-timetable .dpte-timetable-prayer-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* prayers header */
.dpte-timetable .dpte-timetable-prayer-header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.75rem;
  padding: 0 0.8rem;
  transform: translateY(0.5rem);
  color: var(--dpte-timetable-prayer-header-text-color);
  font-size: 0.9rem;
  font-weight: bold;
}

@media (min-width: 525px) {
  .dpte-timetable .dpte-timetable-prayer-header {
    gap: 1.5rem;
    font-size: 1.1rem;
  }
}

.dpte-timetable .dpte-timetable-prayer-header > p {
  width: 3.15rem;
  text-align: center;
  overflow-x: visible;
  white-space: nowrap;
}

@media (min-width: 525px) {
  .dpte-timetable .dpte-timetable-prayer-header > p {
    width: 4rem;
  }
}

/* prayer items */
.dpte-timetable .dpte-timetable-prayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, var(--dpte-timetable-prayer-background-gradient-1) 20%, var(--dpte-timetable-prayer-background-gradient-2) 80%);
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
  font-size: 0.95rem;
  font-weight: bold;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (min-width: 525px) {
  .dpte-timetable .dpte-timetable-prayer {
    font-size: 1.2rem;
  }
}

.dpte-timetable .dpte-timetable-prayer.active {
  border: 2px solid var(--dpte-timetable-prayer-active-color);
}

.dpte-timetable .dpte-timetable-prayer > span:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dpte-timetable .dpte-timetable-prayer-icon {
  width: 30px;
  aspect-ratio: 1 / 1;
  fill: var(--dpte-timetable-prayer-icon-color);
  stroke: var(--dpte-timetable-prayer-icon-color);
  animation: cubic-bezier(0.4, 0, 0.6, 1) infinite;
  animation-name: pulse1;
  animation-duration: var(--dpte-timetable-prayer-icon-resize-animation-duration);
  animation-play-state: var(--dpte-timetable-icon-resize-animation-running);
}

@media (min-width: 525px) {
  .dpte-timetable .dpte-timetable-prayer-icon {
    width: 35px;
  }
}

@keyframes pulse1 {
  50% {
    transform: scale(1.2);
  }
}

.dpte-timetable .dpte-timetable-fajr .dpte-timetable-prayer-icon {
  transform: translateY(-2px);
}

.dpte-timetable .dpte-timetable-maghrib .dpte-timetable-prayer-icon {
  transform: translateY(-2px);
}

.dpte-timetable .dpte-timetable-isha .dpte-timetable-prayer-icon {
  transform: scale(0.6);
  animation-name: pulse2;
}

.dpte-timetable .dpte-timetable-jumah .dpte-timetable-prayer-icon {
  transform: translateY(-3px);
}

@keyframes pulse2 {
  50% {
    transform: scale(0.8);
  }
}

.dpte-timetable .dpte-timetable-prayer > span:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

@media (min-width: 525px) {
  .dpte-timetable .dpte-timetable-prayer > span:nth-child(2) {
    gap: 1.5rem;
  }
}

.dpte-timetable .dpte-timetable-prayer > span:nth-child(2) > p {
  width: 3.15rem;
  text-align: center;
}

@media (min-width: 525px) {
  .dpte-timetable .dpte-timetable-prayer > span:nth-child(2) > p {
    width: 4rem;
  }
}

.dpte-timetable .dpte-timetable-prayer.dpte-timetable-sunrise > span:nth-child(2) > p {
  width: 7.05rem;
}

@media (min-width: 525px) {
  .dpte-timetable .dpte-timetable-prayer.dpte-timetable-sunrise > span:nth-child(2) > p {
    width: 9.5rem;
  }
}

.dpte-timetable .dpte-timetable-prayer.dpte-timetable-jumah > span:nth-child(2) > p {
  width: 7.05rem;
}

@media (min-width: 525px) {
  .dpte-timetable .dpte-timetable-prayer.dpte-timetable-jumah > span:nth-child(2) > p {
    width: 9.5rem;
  }
}

.dpte-timetable .dpte-prayer-title {
  color: var(--dpte-timetable-prayer-title-color);
}

.dpte-timetable .dpte-prayer-values {
  color: var(--dpte-timetable-prayer-values-color);
}
